@import "../../untils/functions";
@import "../../untils/variables";

.time-container {

}

h2 {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 250;
    margin-bottom: px-to-rem(20px);
  line-height: 1.5;
  margin-left: px-to-rem(10px);
  letter-spacing: px-to-rem(1px);
}

.child_picture {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  margin-top: px-to-rem(40px);

}

