@import "../../untils/variables";
@import "../../untils/functions";

.footer-container {
  padding: 20px;
  color: $base-font-color;
  font-family:$base-font-family ;

}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  display: flex;
  align-items: center;
  margin-top: px-to-rem(50px);
}

.footer-item__icon {
  margin-inline: 10px;
  font-size: 20px;
}