@import "../../untils/functions";
@import "../../untils/variables";

.time-container{
  background-image: ("../../assets/Images/cloud_bgi3S.jpeg");
  border: px-to-rem(1px) solid rgb(255,255, 255);
  border-bottom-left-radius: px-to-rem(400px);
  border-bottom-right-radius: px-to-rem(400px);
  margin-right: px-to-rem(-5px);

}

p {
  display: flex;
  justify-content: flex-end;
  margin-right: px-to-rem(10px);
  color: $base-font-color;
  }