@use "sass:map";

$base-font-size: 16px;
$base-font-family: "Arial", sans-serif;
$base-bg-color: rgb(135, 206, 250);
$base-font-color: rgb(0, 0, 0);
$second-font-color:	rgb(0, 0, 0);
$base-btn-color: rgb(0, 0, 0);
$base-plh-color: rgb(0, 0, 0);
