@import "untils/variables";

:root {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 300;
  color: $font-color;

}

*{
  box-sizing: border-box;
}

html, body {
  margin:  auto;
  max-width: 1366px;
  padding: 0;
  height: 100vh;
}

