@import "../../untils/functions";
@import "../../untils/variables";

.carousel-container {

  display: flex;
  max-width: 100%;
  //height: 70vh;
  margin-right: px-to-rem(10px);
}

.carousel {
  justify-content: center;
  max-width: px-to-rem(400px);
}

.search_input {
  margin-left: 10px;
}



.bookshelf{
  margin-left: px-to-rem(10px);
}

.carousel_items {
  display: flex;
  margin-left: 10px;
  gap: px-to-rem(15px);
}

.carousel_btn {
  margin-bottom: 20px;
  display: flex;

}
.btn__prev{}

.btn__next{}


