@import "../../untils/functions";
@import "../../untils/variables";

.footer-container {
  padding: px-to-rem(20px);
  color: $base-font-color;
  font-family:$base-font-family ;

}

.footer {
  display: flex;
  justify-content: space-around;
  gap: px-to-rem(90px);

  &-item {
    display: flex;
    align-items: center;
    margin-top: px-to-rem(100px);

    &__icon {
      margin-inline: px-to-rem(10px);
      font-size: px-to-rem(20px);
    }
  }
}
