@import "untils/variables";
@import "untils/functions";


:root {
  --font-size: 16px;
  --line-height: 1.5;
  --font-weight: 300;
  --background-image: url("assets/Images/cloud_bgi4S.jpeg");
  --background-size: cover;
  --background-position: center;
  --background-repeat: no-repeat;
}


*{
  box-sizing: border-box;
}


html, body {
  margin:  0;
  padding: 0;
  //max-width: px-to-rem(1280px);
  width: 100%;
  height: 100vh;
  }


.app {
  width: 100%;
  height: 110vh;
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  background-image: var(--background-image);
  background-size: var(--background-size);
  background-position: var(--background-position);
  background-repeat: var(--background-repeat);
  }
